$black-section = #1d1d1d

*
  box-sizing border-box !important

html
  min-width 320px
  background black

iframe
  border none

section
  padding-top 50px
  padding-bottom 50px

section.white
  background $body-bg
  color $text-color

section.black
  background-color $black-section
  color $body-bg

hr.invis
  border-color transparent

.nav-pills
  a
    box-sizing border-box !important
    border-radius 0 !important
    color white !important
    border 2px solid transparent
    cursor pointer
    &:hover
      background $black-section !important
      text-decoration underline !important

  .active
    a 
      background $black-section !important
      border-color white

.navbar-black
  position absolute
  left 0
  right 0
  top 50px
  background-color $black-section !important
  border 0 !important
  height 100px
  *
    color white !important
  .navbar-brand
    height 100px
    padding 0
    margin 0 !important
    line-height 90px
    font-weight 100 !important
    font-size 90px

  .navbar-nav
    a
      line-height 100px !important
      padding-top 0
      padding-bottom 0
      box-sizing border-box
    .active > a
      border 1px solid white

  &.affix-top
    top 50px
    position absolute

  &.affix
    top 0
    position fixed

$my-carousel-height = 350px

// .slide-img
//   float left
//   width 40%
//   padding-right $grid-gutter-width

// .slide-txt
//   float left
//   width 60%


.my-carousel-switch
  display block
  margin-top ($my-carousel-height / 3)
  img
    height ($my-carousel-height / 3)
  &:active
    opacity 0.5

.my-carousel-main
  height $my-carousel-height

.my-carousel-indicators
  margin-bottom $grid-gutter-width

.bg-spacer
  width 100%
  height 400px

    

.bg-video
  img, video
    position: fixed; 
    top -100px 
    left 0
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    // background: url(polina.jpg) no-repeat;
    // background-size: cover

.sectitle
  margin-bottom 50px

.parallax
  background-size cover

$my-carousel-height_phone = 500px

@media $media-max-phone
  .bg-spacer
    height 200px
  .navbar-brand
    font-size 60px !important
    padding-left ($grid-gutter-width / 2) !important


  .my-carousel-switch
    margin-top ($my-carousel-height_phone / 3)
    img
      height ($my-carousel-height_phone / 3)

  .my-carousel-main
    height $my-carousel-height_phone


