extends layout

block content
  .js-video-box.bg-video
    video(autoplay="autoplay", loop="loop")

  nav#main-nav.navbar.navbar-default.navbar-black(role='navigation')
    .container
      .navbar-header
        a(href="#" ).navbar-brand Presence

  .bg-spacer

  //- video.bg-video(autoplay, loop)
  //-   source(src='/video/stream.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

  section.black
    .container
      h1.sectitle Create amazing digital products.
      p.lead Presence is a digital product management, development, and operations consultancy for web and mobile products. We practice lean and agile product development, helping customers identify product market fit and create high quality products.


  section.js-parallax.parallax(style="background-image:url('./images/collaboration.jpg');background-position:50% 50%;")
    .container
      h1.sectitle Process
      .row
        .col-md-12 
          p Presence leverages product definition, prioritization, and development processes based on lean and agile methodologies to deliver optimal products and reduce product development risk.

          p Evidence based product management is used to identify the correct features for a market. Features are rapidly tested against the target market to determine their value and prioritize for development.

          p Iterative product development is used to continually enhance product quality as feedback is provided from business requirements and customer input.


  section.black
    .container
      h1.sectitle Case Studies
      p.lead.hidden-xs The Presence team works with companies ranging from start-ups to internationally recognized brands. Our clients include Google, Whole Foods, Yamaha, Scripps Network, Macquarie Telecom, Advent, and OnLive.

      hr

      #carousel-front.carousel.slide(data-ride='carousel')        
        //- .container
        ul.nav.nav-pills.js-carousel-indicators.my-carousel-indicators
          li.active(data-target='#carousel-front', data-slide-to='0') <a>Macquarie</a>
          li(data-target='#carousel-front', data-slide-to='1') <a>Advent</a>
        
        .row
          .col-md-1.visible-md.visible-lg
            a.my-carousel-switch(href='#carousel-front', data-slide='prev')
              img.img-responsive(src="./images/carousel-left.png")

          .col-md-10.col-sm-12.col-xs-12.my-carousel-main
            .carousel-inner
              .item.active
                .row
                  .slide-img.col-md-5.visible-lg.visible-md
                    img.img-responsive(src="./images/macquarie.png")
                  .slide-txt.col-md-7
                    p Macquarie Telecom faced international competition delivering infrastructure as a service (IaaS). They needed to provide additional products and services to their Australian customer base and expand their market to the United States and Europe.
                    p Presence worked with Ninefold, a tiger team of Macquarie Telecom executives and developers, to identify a new target market, define the minimum viable product, and test their product concepts within the US market.
                    p Ninefold will release their new platform as a service (PaaS) for Ruby developers in the Fall of 2013.
              .item
                .row
                  .slide-img.col-md-5.visible-lg.visible-md
                    img.img-responsive(src="./images/advent.png")
                  .slide-txt.col-md-7  
                    p Advent Software saw disruption of their enterprise financial management software business from lighter weight cloud and mobile based products.
                    p Presence worked with the Advent Software team to reimagine their products for the web and mobile devices. This involved refining product requirements, prioritizing product features, and implementing cloud and mobile versions of their new products.
                    p Their new products will be released mid 2014 through 2015.

          .col-md-1.visible-md.visible-lg
            a.my-carousel-switch(href='#carousel-front', data-slide='next')
              img.img-responsive(src="./images/carousel-right.png")


  section.js-parallax.parallax(style="background-image:url('./images/sanfran.jpg');background-position:center top;")
    .container
      h1.sectitle Contact
      .row
        .col-md-4.col-md-push-8
          p Presence is headquartered in San Francisco, California.
          address
            strong Email: <br/>
            a(href="mailto:contact@presencepg.com") contact@presencepg.com <br/>
            | &nbsp;<br/>
            strong Mailing Address: <br/>
            | 56 Potomac St. <br/>
            | San Francisco, CA 94117
        .col-md-8.col-md-pull-4
          img.img-responsive(src="./images/map2@2x.png")
          hr.invis.visible-sm.visible-xs

          //- img(src="./images/connections.png")

