!!! 5
html
  head
    title Presence
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0')
    meta(name='viewport', content='width=device-width')
    |<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="./css/style.css", type="text/css")
    script(src='./vendor/modernizr.min.js')
  body
    block content

    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://cdn.jsdelivr.net/bigvideo.js/0.1/js/bigvideo.js')
    script(src='./vendor/bootstrap.min.js')
    script(src='./js/script.js')